<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/xhj14012/IEMES/blob/master/%E6%96%87%E4%BB%80%E4%BA%91MES.ipa?raw=true</string>
		<key>displayImageURL</key>
		<string>https://github.com/xhj14012/IEMES/blob/master/image.57x57.png?raw=true</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/xhj14012/IEMES/blob/master/image.512x512.png?raw=true</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.vsdata.iemes</key>
		<string>wsdataimes</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>GTPYSC4FRJ</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
